<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New order, dude!</h1>

    <br>
    name: <%= @order.name %>
    <br>
    phone: <%= @order.phone %>
    <br>
    email: <%= @order.email %>
    <br>
    hipping method: <%= @order.shipping_method.name %>
    <br>
    order number: <%= @order.order_number %>
    
    <p>Thanks for attention, dude!</p>
  </body>
</html>