<h1>Products</h1>



<ul>
	<% @prd.each do |t| %>
	<li>
		
		<%= link_to t.name, product_path(t) %>
		<%= t.price %>
		<%= link_to t.category.name, category_path(t.category) %>

	<% end %>



<br><br><br><br><br><br>

	<%= paginate @prd %>






</ul>
<ul>
	<%= link_to 'Home', root_path %>
	
</ul>
