<h1> <%= @category.name %> </h1>

<% @yyy = (@sort == 'price_min' ? 'price_max' : 'price_min') %>
<%= link_to 'price', category_path(:sort=>@yyy) %>

<% @xxx = (@sort=='name1' ? 'name2' : 'name1') %>
<%= link_to 'name', category_path(:sort=>@xxx) %>

<% @zzz = (@sort == 'popular1' ? 'popular2' : 'popular1') %>
<%= link_to 'popular', category_path(:sort=>@zzz) %>

<br>
	<% @prd.each do |t| %>

	<br>
<%= link_to t.name, product_path(t) %>
weight = 
<%= t.weight %>
price = 
<%= t.price.round(2) %>
popular = 
<%= t.popular %>
	<% end %>


	<ul>
		<br>
	<%= link_to 'Categories', magaz_categories_path %>
	<br>
	<%= link_to 'Products', magaz_products_path %>
	
</ul>